# Assignment 7

## Submit as an HTML file

### Print your name below

In [2]:
print("Ajay Kartik")

Ajay Kartik

### Import the "pandas" "numpy" and "statsmodels.formula.api" libraries

In [3]:
# Write your answer here:

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

#### In the code chunk below read the CSV file named `results.csv` in the `data` <br> folder and print the first 5 rows of the dataset. Browse the dataset.

In [8]:
data = pd.read_csv("data/results.csv")

data

       resultId  raceId  driverId  ...  fastestLapTime fastestLapSpeed  statusId
0             1      18         1  ...        1:27.452         218.300         1
1             2      18         2  ...        1:27.739         217.586         1
2             3      18         3  ...        1:28.090         216.719         1
3             4      18         4  ...        1:28.603         215.464         1
4             5      18         5  ...        1:27.418         218.385         1
...         ...     ...       ...  ...             ...             ...       ...
25835     25841    1096       854  ...        1:29.833         211.632        11
25836     25842    1096       825  ...        1:31.158         208.556        11
25837     25843    1096         1  ...        1:29.788         211.738         9
25838     25844    1096       849  ...        1:30.309         210.517       130
25839     25845    1096         4  ...        1:30.579         209.889        47

[25840 rows x 18 columns]

### (a)  Check Column Types and Data Cleaning

- Use the function .dtypes to get the column types
- Identify which columns have data types that might need conversion
- The 'milliseconds' column contains string values that should be numeric. Create a new column called 'race_time_ms' that:
    - Converts the column to a numeric data type
    - Replaces any non-numeric values with NaN

In [10]:
# Write your answer here

print(data.dtypes)

data['milliseconds'] = data['milliseconds'].replace('\N', pd.NA)
data['race_time_ms'] = pd.to_numeric(data['milliseconds'])

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: malformed \N character escape (3914448657.py, line 5)

### (b) Create Categorical Variables

- Create a new column called 'finish_category' that categorizes the race finish positions as follows:
    - Positions 1-3: 'Podium'
    - Positions 4-10: 'Points'
    - Positions 11-20: 'Midfield'
    - Positions >20: 'Backmarker'

Hint: Use the pd.cut() function

In [ ]:
# Write your answer here

### (c) Calculate Race Duration
- For rows where 'milliseconds' is available, create a new column <br>
'race_duration_minutes' that converts milliseconds to minutes by dividing <br>
by (1000*60).
- Display the average race duration by 'constructorId' for the top 5 <br>
constructors with the shortest average race times

In [4]:
# Write your answer here

### (d) Driver Performance Analysis

- Calculate the following statistics for each driver, grouped by 'driverId':
    - Average finishing position
    - Total points
    - Number of races completed
    - Best finishing position

- Sort the results by total points in descending order
- Display the top 10 drivers based on total points

In [5]:
# Write your answer here

### (e) Linear Regression
Create a linear regression model that predicts 'points' based on 'grid' (starting position) and 'laps' completed <br>
Use the following steps:

- Clean the data to remove any non-numeric values and missing values
- Create the regression formula using smf.ols 
- Display the summary of the regression model using model.summary()

What is the predicted points for a driver starting in position 3 and completing 55 laps?

Hint: Use ```.dropna()''' to remove missing values from the points, grid, and laps <br>
variables.

In [6]:
# Write your answer here